html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #000000;
  background-color: #FFFFFF;
}

.pull-right, .seven .bottom-text {
  float: right;
}

.section-heading {
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  text-transform: uppercase;
}

.one {
  background-color: #A6D2DB;
  height: 386px;
}

.one .navbar {
  background-color: inherit;
  color: black;
  border: none;
  padding: 25px;
}

.one .navbar .navbar-header {
  position: relative;
  bottom: 9px;
  left: 165px;
}

.one .navbar .navbar-collapse {
  position: relative;
  right: 165px;
}

.one .navbar li {
  background-color: inherit;
  font-weight: bold;
}

.one .navbar a {
  color: #3B3B3B;
}

.one .navbar a .logo {
  word-spacing: -1px;
  position: relative;
  bottom: 6px;
  left: 7px;
}

.one .navbar a:hover {
  background-color: #3B3B3B;
  color: white;
  border-radius: 10px;
}

.one .slide {
  position: relative;
}

.one .slide .text-box {
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  bottom: 55px;
  width: 30%;
}

.one .slide .image-box img {
  height: auto;
  width: 238px;
  position: relative;
  bottom: 90px;
}

.one .carousel {
  position: relative;
  top: 80px;
}

.two {
  background-color: #FFFFFF;
  height: 288px;
}

.two figure {
  width: 250px;
  padding-top: 35px;
  margin: 0 auto;
}

.two img {
  width: 100px;
  height: 120px;
  margin: 0 auto;
}

.three {
  background-color: #99D2A5;
  height: 737px;
  text-align: center;
}

.three .row div {
  padding: 50px;
}

.three .button-row button {
  color: #FFFFFF;
  background-color: #99D2A5;
}

.three .button-row button:hover {
  border-color: white;
}

.three img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.four {
  background-color: #F0F0F0;
  height: 541px;
}

.four hr {
  border-color: #3B3B3B;
  width: 85%;
}

.four .row {
  padding-top: 40px;
}

.four .row div {
  text-align: center;
}

.four .row div h3,
.four .row div h5 {
  text-align: left;
}

.four img {
  width: 200px;
  height: 200px;
}

.five {
  background-color: #E0B5C6;
  height: 534px;
  text-align: center;
}

.five .photo-group div {
  width: 150px;
  background-color: #FFFFFF;
  padding-bottom: 15px;
}

.five .photo-group div img {
  width: 150px;
  height: 150px;
  position: relative;
  right: 15px;
}

.five button {
  position: relative;
  border-radius: 100%;
  padding: 10px;
  color: #FFFFFF;
}

.five button i {
  position: absolute;
  bottom: 4px;
  right: 6px;
}

.five .facebook {
  background-color: darkblue;
}

.five .twitter {
  background-color: lightblue;
}

.five .pinterest {
  background-color: darkred;
}

.six {
  background-color: #A6D2DB;
  height: 576px;
  text-align: center;
}

.six button {
  position: relative;
  top: 50px;
}

.six button span {
  color: #3B3B3B;
}

.six .article-group div {
  width: 220px;
  background-color: #FFFFFF;
  padding-bottom: 15px;
}

.six .article-group div img {
  width: 220px;
  height: 220px;
  position: relative;
  right: 15px;
}

.seven {
  background-color: #3B3B3B;
  height: 646px;
}

.seven .bottom-text {
  color: #F0F0F0;
  opacity: 0.2;
}

.seven .bottom-text .divider {
  padding: 10px;
}

.seven .highlight {
  color: yellow;
}

.seven hr {
  border-color: black;
}

.seven .footer .social-media button {
  border-radius: 100%;
  padding: 16px;
  position: relative;
  opacity: 0.2;
  margin: 0 2px;
  top: 45px;
}

.seven .footer .social-media button i {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*# sourceMappingURL=main.css.map */
